<div class="card">
	<div class="card-body">
		<h1>about</h1>
		<p>Lorem, ipsum, dolor sit amet consectetur adipisicing elit. Maiores mollitia laudantium eligendi rem eius harum cum ut repellat culpa eum labore et provident velit, ea ad aperiam, dignissimos, cumque, dicta.</p>
	</div>
</div>