
<div class="card bg-light">
	<div class="card-body">
		<h1 class="display-4">Notapp</h1>
		<p class="lead">Aplication creathe for<a href="/" style="text-decoration: none">José Sojo</a> </p>
		<hr class="my-4">

		<div class="container-fluid">
			<div class='row'>
				<div class="card col-md-5 mb-3 shadow">
					<div class="card-body">
						<h4 class="text-center">Tecnologies use:</h4>
						<ul>
							<ol>Node js</ol>
							<ol>Express</ol>
							<ol>Mongodb</ol>
						</ul>
					</div>						
				</div>
				<div class="card col-md-7 mb-3 shadow">
					<div class="card-body">
						<h4 class="text-center">Description aplication:</h4>
						<ul>
							<ol>Create Note</ol>
							<ol>Read Note</ol>
							<ol>Update Note</ol>
							<ol>Delete Note</ol>
						</ul>
					</div>						
				</div>
			</div>
		</div>			
	</div>		
</div>