{{#if succ}}
	<div class="alert alert-success text-center fade show message-error" role='alert'>
		{{succ}}
	</div>
{{/if}}

{{#if err}}
	<div class="alert alert-danger text-center fade show message-error" role='alert'>
		{{err}}
	</div>
{{/if}}

{{#if error}}
	<div class="alert alert-danger text-center fade show message-error" role='alert'>
		{{error}}
	</div>
{{/if}}
